body{

}

	main{}
		header{
			position: fixed;
		}
			nav{}
				ul{
					list-style-type: none;
				}
				ul li{}
				ul li a{
					text-decoration: none;
					
				}

				ul li a:hover{

				}

		[class*="bg"]{
			height: 700px;
			text-indent: -9999px;
			/* fix bg*/
			background-attachment: fixed;
			/* center it*/
			background-position: center;
			/* scale it*/
			background-size: cover;
			/* getting fancy*/
			$:nth-child(2n){
				box-shadow: inset; 0 0 1em #111;
			};
		}

		.bg1{
			background-image: url("images/NoCoffee.jpg");
    
  );
		}
		.bg2{
			background-image: url("images/SkullSketch.jpg");
		}
		.bg3{
			background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax3.jpg
  );
		}